.header__logo {
    max-width: 70px;
    margin-bottom: 32px;
    
}

/* @media screen and (max-width:1200px) {
    .header__logo {
        margin-left: 8px;
        max-width: 103.74px;
        margin-bottom: 31.6px;
    }
} */