.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    margin: 0;
    padding: 40px 140px;
    box-sizing: border-box;
    background-color: #F5F5F5;
    color: black;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
}