.calculate-button {
    padding: 0;
    margin: 0;
    min-height: 84px;
    min-width: 10px;
    color: rgb(255, 255, 255);
font-family: 'MADE-EVO';
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
border: none;

border-radius: 20px;

background: linear-gradient(226.17deg, rgb(11, 50, 255) 0%,rgb(188, 47, 255) 99.808%);


display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 24;
padding: 0px;
padding-left: 64px;
padding-right: 30px;
cursor: pointer;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
}

.calculate-button:hover .calculate-button__arrow {
    margin: 0px 12px 0px 24px;
  }

/* изменяем гап при наведении */