.data-conteiner__img-range {
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}

.data-conteiner__img-range {
  background-image: url(../../../components/images/range.svg);
}

