.data-conteiner__img-ecology {
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}


.data-conteiner__img-ecology {
  background-image: url(../../../components/images/ecology.svg);
}
