.data-range-conteiner__slider {
    width: 100%;
    /* color: #000; */
      background: #eee;
  opacity: 0.8;
  outline: none;
  transition: 0.3s;
  -webkit-appearance: none;
}



.data-range-conteiner__slider:hover {

opacity: 1;
}


.data-range-conteiner__slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: #4caf50;
  cursor: pointer;
}

.data-range-conteiner__slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #4caf50;
  cursor: pointer;
}

/* Style the box */
/* .box {
  margin-top: 50px;
  background: #2196f3;
} */