.section-content__name {
padding: 0;
margin: 0;
margin-bottom: 50px;
margin-top: 50px;
font-size: 24px;
font-weight: 400;
line-height: 28px;
/* letter-spacing: 0%; */
text-align: center;
color: rgb(156, 156, 156);
width: 100%;
}