.data-range-conteiner__name {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 8px;
    margin-top: 20px;
    color: rgb(156, 156, 156);
    }