.aircraft-engine__image {
    background-image: url(../../../components/images/engine.svg);
    background-size: 100%;
    width: 70px;
    height: 60px;
    display: block;
    border: none;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    /* background-color: transparent; */
    border-radius: 12px;
}