.data-conteiner__airplane--active {
    /* background: linear-gradient(226.17deg, rgb(11, 50, 255) 0%,rgb(188, 47, 255) 98.278%); */
    background-image: url(../../../../components/images/airplane-act.svg);
    
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
    cursor: pointer;
    display: block;
    opacity: 1;
    border: none;
    /* background-color: transparent; */
    width: 70px;
    height: 60px;
    border-radius: 12px;
      }

      .data-conteiner__airplane--active:hover { opacity: 0.8;}