.data-conteiner {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 20px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 127px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    width: 100%;
    align-items: center;




color: rgb(156, 156, 156);
/* line-height: 23px; */
/* letter-spacing: 0%; */
/* text-align: center; */
padding-left: 8px;




}

.data-conteiner:last-child {
    margin-right: 0;
}