.data-conteiner__select--engine {
    /* background-image: url('../../../../components/images/arrow-angel.svg'); 
      background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;  */


 position: relative;
  width: 300px; /* Из Figma */
  margin-right: 8px;
  padding-right: 20px;


}