.data-conteiner__select--engine {
    /* background-image: url('./images/arrow.svg'); Ваша стрелка */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px; /* Размер стрелки, настройте под ваш SVG */
}