.data-conteiner__select--engine {
    /* background-image: url('../../../../components/images/arrow-angel.svg'); 
      background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;  */


 position: relative;
  width: 332px; /* Из Figma */
  margin-left: 8px;


}