/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "MADE-Regular-EVO", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  */


@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/whole-page/whole-page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__name/header__name.css);
@import url(./blocks/page/page.css);
@import url(./blocks/section-content/__name/section-content__name.css);
@import url(./blocks/data-conteiner/data-conteiner.css);
@import url(./blocks/data-conteiner/__two-elements-container/data-conteiner__two-elements-container.css);
@import url(./blocks/data-conteiner/__aircraft/data-conteiner__aircraft.css);
@import url(./blocks/data-conteiner/__img-engine/data-conteiner__img-engine.css);
@import url(./blocks/data-conteiner/__img-name-container/data-conteiner__img-name-container.css);
@import url(./blocks/data-conteiner/__img-conteiner/data-conteiner__img-conteiner.css);
@import url(./blocks/data-conteiner/__rocket/data-conteiner__rocket.css);
@import url(./blocks/data-conteiner/__name/data-conteiner__name.css);
@import url(./blocks/data-conteiner/__aircraft-engine-list/data-conteiner__aircraft-engine-list.css);
@import url(./blocks/box-two-containers/box-two-containers.css);
@import url(./blocks/aircraft-engine/aircraft-engine.css);
@import url(./blocks/aircraft-engine/__image/aircraft-engine__image.css);
@import url(./blocks/main-content/main-content.css);
