/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "MADE-Regular-EVO", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  */


@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/whole-page/whole-page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__name/header__name.css);
@import url(./blocks/page/page.css);
@import url(./blocks/section-content/__name/section-content__name.css);
@import url(./blocks/data-conteiner/data-conteiner.css);
@import url(./blocks/data-conteiner/__buttons/data-conteiner__buttons.css);
@import url(./blocks/data-conteiner/__two-inputs-container/data-conteiner__two-inputs-container.css);
@import url(./blocks/data-conteiner/__airplane/data-conteiner__airplane.css);
@import url(./blocks/data-conteiner/__airplane/--active/data-conteiner__airplane--active.css);
@import url(./blocks/data-conteiner/__img-engine/data-conteiner__img-engine.css);
@import url(./blocks/data-conteiner/__img-lode/data-conteiner__img-lode.css);
@import url(./blocks/data-conteiner/__img-name-container/data-conteiner__img-name-container.css);
@import url(./blocks/data-conteiner/__img-conteiner/data-conteiner__img-conteiner.css);
@import url(./blocks/data-conteiner/__rocket/data-conteiner__rocket.css);
@import url(./blocks/data-conteiner/__rocket/--active/data-conteiner__rocket--active.css);
@import url(./blocks/data-conteiner/__helicopter/data-conteiner__helicopter.css);
@import url(./blocks/data-conteiner/__helicopter/--active/data-conteiner__helicopter--active.css);
@import url(./blocks/data-conteiner/__name/data-conteiner__name.css);
@import url(./blocks/data-conteiner/__input/data-conteiner__input.css);
@import url(./blocks/data-conteiner/__select/data-conteiner__select.css);
@import url(./blocks/data-conteiner/__select/--engine/data-conteiner__select--engine.css);
@import url(./blocks/data-range-conteiner/data-range-conteiner.css);
@import url(./blocks/data-range-conteiner/__picture-percentages-box/data-range-conteiner__picture-percentages-box.css);
@import url(./blocks/data-range-conteiner/__slider/data-range-conteiner__slider.css);
@import url(./blocks/data-range-conteiner/__name/data-range-conteiner__name.css);
@import url(./blocks/box-two-containers/box-two-containers.css);
@import url(./blocks/airplane-engine/airplane-engine.css);
@import url(./blocks/airplane-engine/__image/airplane-engine__image.css);
@import url(./blocks/main-content/main-content.css);
@import url(./blocks/calculate-button/calculate-button.css);
@import url(./blocks/calculate-button/__arrow/calculate-button__arrow.css);
@import url(./blocks/footer/footer.css);
