.aircraft-engine {
    box-sizing: border-box;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 20px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
}