.main-content {
    /* display: flex;
    flex-direction: column; */
    margin: 0 auto;
    padding: 0;
    /* min-height: 450px; */
    width: 100%;
}

/* @media screen and (max-width:1200px) {
    .content {
        padding: 0 19px 0;
    }
} */