.header {
    display: flex;
    align-items:center;
    flex-direction: column;
    /* border-bottom: 1px solid rgba(84, 84, 84, .7); */
    box-sizing: border-box;
    margin: 8px auto 0;
    width: 100%;
}

/* @media screen and (max-width:1200px) {
    .header {
        padding: 28px 19px 0;
        margin: 0;
    }
} */